body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  background: rgb(219, 219, 219);
  margin: 20px auto;
  width: 90%;
  max-width: 800px;
}

.navbar {
  padding: 5px;
  text-align: center;
}

.navbar ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  padding: 0;
}

.navbar ul li {
  font-weight: 500;
  cursor: pointer;
}

.link{
  text-decoration: none;
}

a{
  text-decoration: none;
}

.todo-list ul {
  padding: 0 10px 10px 10px;
  list-style-type: none;
}

.todo-list li {
  padding: 10px;
  cursor: pointer;
  margin: 10px 0;
  border-radius: 4px;
}

.todo-list li:hover {
  opacity: 0.7;
  text-decoration: line-through;
}

.todo-list li .bi-trash:hover {
  color: rgb(255, 0, 0);
}

form {
  padding: 10px;
}

input[type="text"] {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  margin: 6px 0;
  border: 0;
}

input[type="submit"] {
  margin: 10px auto;
  padding: 10px;
  border: 0;
  display: block;
  cursor: pointer;
  border-radius: 15%;
}

input[type="submit"]:hover {
  background-color: orange;
}

.toggle-btn {
  text-align: center;
  padding: 10px auto;
}

button {
  border: 0;
  padding: 10px;
  margin: 10px auto;
}

.bi-trash {
  display: float;
  float: right;
  color: rgb(245, 69, 69);
}

.loader {
  text-align: center;
  font-weight: 300;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
}

img{
  width: 25%;
  border-radius: 50%;
  margin-left: 38%;
  display: block;
}

.bi-github, .bi-facebook, .bi-google{
  margin-left: 10px;
  font-size: 20px;
  display: inline-flex;
  cursor: pointer;
  background-color: aliceblue;
  color: black;
  border-radius: 50%;
}

.icons{
  width: 13%;
  margin-top: 15px;
  margin: 10px auto;
}

.author{
  text-align: center;
  font-size: 20px;
  font-weight: 400;
}

@media screen and (max-width: 480px){
  .icons{
    width: 23%;
    margin-top: 5px
  }
  .bi-github, .bi-facebook, .bi-google{
    font-size: 15px;
    margin-left: 8px;
  }
}